<div class="itemContainer">
	<div class="account__name__type">
		<div class="account__name">
			<%= account.get('name') %>
		</div>
		<div class="account__type">
			<%= account.get('a_type') %>
		</div>
	</div>
	<div class="account__amount">
		<%= account.get('amount') %>
	</div>
</div>
