<div class="itemContainer">
	<svg width="120px" height="120px" viewBox="76 68 212 212" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <g id="Group-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(76.000000, 68.000000)">
	        <rect id="Rectangle-5" fill="#82CA9C" x="93" y="0" width="26" height="212"></rect>
	        <rect id="Rectangle-5" fill="#82CA9C" transform="translate(106.000000, 106.000000) rotate(-270.000000) translate(-106.000000, -106.000000) " x="93" y="0" width="26" height="212"></rect>
	    </g>
	</svg>
</div>
