<form class="" id='account_form'>
	<div>
		<input type="text" name="account[name]" placeholder="Account Name" value="" id="name">
	</div>
	<div>
		<select id='a_type'>
		  <option value="savings">Savings</option>
		  <option value="checking">Checking</option>
		</select>
	</div>
	<div>
		<input type="text" name="account[amount]" placeholder="Amount" value="" id="amount">
	</div>
	<div>
		<input type="text" name="account[interest_rate]" placeholder="Interest Rate" value="" id="interest_rate">
	</div>
	<div class="submission">
		<button type="button" name="button" class="submit">SUBMIT</button>
	</div>
</form>
