$('.no_investment').fadeOut();
$('form').hide();
$('#new_investment_path').show();
$('#undo-new-investment').hide();
$('.render_create_here').append('<%= j render (@investment) %><div class="render_create_here"></div>')
