<center class="modal">
	<div class="modal-content">
		<div class="month__title">
			<%= month.get('month').name %> <%= month.get('month').year %>
		</div>
		<div class="month__advice">
			Advice:
		</div>
		<div>
			Income Source:
		</div>
	</div>
</center>
