<center class="modal">
	<div class="modal-content">
		<div class="month__title">
			<%= month.get('name') %> <%= month.get('year') %>
		</div>
		<div class="advices"></div>
		<div class="sideNav">
		</div>
	</div>
</center>
