<div class="navbar">
	<div class="navbar__title">
		The Hidden Green
	</div>
	<div class="navbar__rightside">
		<div class="navbar__calendar">
			CC Calendar
		</div>
		<div class="navbar__user">
			Travis Crampton
		</div>
	</div>
</div>
