<div id="debts" class="navigation__button selected__navigation__button" data="debts">
	DEBT
</div><br>
<div id="savings" class="navigation__button" data="savings">
	SAVINGS
</div><br>
<div id="investments" class="navigation__button" data="investments">
	INVESTMENTS
</div><br>
<div id="income" class="navigation__button" data="income">
	INCOME
</div><br>
<div id="spending" class="navigation__button" data="spending">
	SPENDING
</div>
