<form class="" id='monthly_spending_form'>
	<div>
		<input type="text" name="monthly_spending[rent]" placeholder="Rent Amount" value="" id="rent">
	</div>
	<div>
		<input type="text" name="monthly_spending[food]" placeholder="Food Amount" value="" id="food">
	</div>
	<div>
		<input type="text" name="monthly_spending[phone]" placeholder="Phone Amount" value="" id="phone">
	</div>
	<div>
		<input type="text" name="monthly_spending[utilities]" placeholder="Utilities Amount" value="" id="utilities">
	</div>
	<div>
		<input type="text" name="monthly_spending[everything_else]" placeholder="Everything Else Amount" value="" id="everything_else">
	</div>
	<div class="submission">
		<button type="button" name="button" class="submit">SUBMIT</button>
	</div>
</form>
