<form class="" id='income_form'>
	<div>
		<input type="text" name="income[source_name]" placeholder="Income Name" value="" id="name">
	</div>
	<div>
		<input type="text" name="income[source_amount]" placeholder="Income Amount" value="" id="amount">
	</div>
	<div class="submission">
		<button type="button" name="button" class="submit">SUBMIT</button>
	</div>
</form>
