<div class="account__name__type">
	<div class="account__name">
		<%= income.get('source_name') %>
	</div>
	<!-- <div class="account__type">

	</div>
	<div class="account__type">
		Interest Rate: <%= income.get('interest_rate') %>
	</div> -->
</div>
<div class="account__amount">
	<%= income.get('source_amount') %>
</div>
