<form class="" id='investment_form'>
	<div>
		<input type="text" name="investment[name]" placeholder="Investment Name" value="" id="name">
	</div>
	<div>
		<input type="text" name="investment[amount]" placeholder="Investment Amount" value="" id="amount">
	</div>
	<div>
		<input type="text" name="investment[interest_rate]" placeholder="Interest Rate" value="" id="interest_rate">
	</div>
	<div class="submission">
		<button type="button" name="button" class="submit">SUBMIT</button>
	</div>
</form>
