<form class="" action="/debts" method="post" id='debt_form'>
	<input name="utf8" type="hidden" value="✓">
	<input type="hidden" name="authenticity_token" value="<%= csrf_token %>">
	<div>
		<input type="text" name="debt[name]" placeholder="Debt Name" value="">
	</div>
	<div>
		<input type="text" name="debt[amount]" placeholder="Debt Amount" value="">
	</div>
	<div>
		<input type="text" name="debt[interest_rate]" placeholder="Interest Rate" value="">
	</div>
	<div>
		<input type="text" name="debt[minimum_monthly_payment]" placeholder='minimum monthly spending' value="">
	</div>
	<input type="submit" name="commit" value="SUBMIT">
</form>
