
 body{
 	font-family: 'Roboto Condensed', sans-serif;
 }

 .get-started{
	 a{
		 color: #33D032;
	 }
 }

 #undo-new-debt, #undo-new-investment{
   display:none;
   &:hover{
     cursor:pointer;
   }
 }

 .portfolio_data{
 }

 .monthly_numbers{

 }
