
#calendars{
	padding: 50px;
	text-align: center;
	.month{
		width: 30%;
		margin: 10px;
		border-radius: 2px;
		display: inline-block;
		overflow: hidden;
		float: left;
		box-shadow: 2px 2px 6px -2px darken(#82CA9C, 10%);
		border: 1px solid darken(#82CA9C, 10%);
		height: 300px;
		.expand{
			opacity: 0;
			text-align: right;
	    margin-right: 8px;
			transition: opacity .5s ease;
		}
		&:hover{
			box-shadow: 2px 2px 6px 0px darken(#82CA9C, 10%);
			cursor: pointer;
			.expand{
				opacity: 1;
			}
		}
		.month__date{
			text-align: left;
			padding-left: 15px;
			font-size: 19px;
			background: #82CA9C;
			line-height: 72px;
			color: white;

			.month__date--net_worth{
				float: right;
				font-size: 14px;
				margin-right: 16px;
			}
		}
		.month__stats{
			padding: 20px 10px;
			text-align: left;
			overflow: auto;
			max-height: 195px;
			/* INCOME: $1,213: */
			.month__bucket{
				font-size: 22px;
				color: #505050;
				margin-bottom: 20px;
				border-left: 4px solid #82CA9C;
				padding-left: 5px;

				.negative_arrow{
					color: red;
				}
				.positive_arrow{
					color: green;
				}
			}
		}
	}
	.modal {
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgb(0,0,0);
	    background-color: rgba(0,0,0,0.4);
	}
	.modal-content {
			border-radius: 2px;
	    background-color: white;
	    margin: 7% 10%;
	    border: 1px solid #82CA9C;
	    width: 70%;
			.month__title{
				font-size: 36px;
				line-height: 60px;
				background: #82CA9C;
				color: white;
			}
	}
}
