#dashboard{

	#commandCenter{
		padding: 100px;
		#contentView, #navigationButtons{
			display:inline-block;
			overflow: hidden;
		}
		#contentView{
			height: 450px;
	    margin-left: 17px;
	    width: 66%;
			border-radius: 4px;
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
			.hidden__home{
				img{
					width: 200px;
					margin-top: 43px;
				}
				.hidden__get_started{
					font-size: 30px;
				}
			}
		}



		#navigationButtons{
			width: 30%;
			.navigation__button{
				border-radius: 4px;
				padding: 20px 5px;
				background: #f8f8f8;
				text-align: center;
				font-size: 30px;
				color: #7B7B7B;
				letter-spacing: 4.79px;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
				&:hover{
					background: #f5f5f5;
					cursor: pointer;
				}
			}
			.selected__navigation__button{
				background: white;
				box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.14);
			}
		}
	}
}
