#dashboard{
    padding: 100px 100px 0px;
		.contentView, .navigation__buttons{
			display:inline-block;
			overflow: hidden;
		}
		.contentView{
			overflow: auto;
			height: 461.5px;
	    margin-left: 17px;
	    width: 66%;
			border-radius: 4px;
			.hidden__home{
				img{
					width: 200px;
					margin-top: 43px;
				}
				.hidden__get_started{
					font-size: 30px;
				}
			}
			form{
				text-align: left;
				margin-left: 40px;
				input, select{
					text-align: left;
					font-size: 20px;
			    width: 70%;
			    height: 38px;
			    border: none;
			    border-bottom: 1px solid #000000;
					margin-bottom: 20px;
			    padding: 0;
					padding-left: 10px;
					&:focus{
						outline: 0;
					}
				}
				select{
					background: white;
					border-bottom: 1px solid black;
				}
				.submission{
					width: 70%;
					text-align: right;
					.submit, .submit_update{
						border: 1px solid #82CA9C;
						background: #82CA9C;
						border-radius: 3px;
						font-size: 22px;
						color: #FFFFFF;
						letter-spacing: 3.51px;
						&:hover{
							color: #82CA9C;
							background: white;
							cursor:pointer;
						}
					}
				}
			}
			.triggerForm:hover{
				cursor: pointer;
				border:1px solid #82CA9C;
			}
			.itemContainer{
				background: #f8f8f8;
				display: inline-block;
				width: 40%;
				overflow: hidden;
				margin-right: 15px;
				padding: 10px 20px;
				height: 200px;
				border: 1px solid #f8f8f8;
				border-radius: 4px;
				margin-bottom: 10px;
				position: relative;
				svg{
					position: absolute;
			    top: 50%;
			    left: 50%;
			    -webkit-transform: translate(-50%,-50%);
			    -ms-transform: translate(-50%,-50%);
			    transform: translate(-50%,-50%);
			    overflow: hidden;
				}
				.account__name__type{
					border-left: 3px solid #505050;
					padding-left: 10px;
					margin-bottom:25px;
					.account__name{
						font-size: 25px;
						color: #505050;
					}
					.account__type{

					}
				}
				.account__amount{
					font-size: 45px;
					text-align: center;
					color: #505050;
				}
			}
		}

		.edit_and_delete{
			margin-top:25px;
			text-align: right;
			img{
				width: 15px;
				&:hover{
					cursor: pointer;
				}
			}
		}



		.navigation__buttons{
			width: 30%;
			padding:10px;
			.navigation__button{
				border-radius: 4px;
				padding: 20px 5px;
				background: #f8f8f8;
				text-align: center;
				font-size: 30px;
				color: #7B7B7B;
				letter-spacing: 4.79px;
				margin-bottom: 15px;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
				&:hover{
					background: #f5f5f5;
					cursor: pointer;
				}
			}
			.selected__navigation__button{
				background: white;
				box-shadow:0px 1px 0px 2px #82CA9C;
				&:hover{
					background: white;
				}
			}
		}
}
